.desc-text {
    line-height: clamp(1rem, 1.5vh, 1.5rem); 
    font-size: clamp(1rem, 1.2vw, 1.2rem); /* Ensures that the font size responds to changes to the screen size */
}


/* -- VALUES SECTION CSS STYLES -- */
.values {
    background-color: #f9f9f9;
    padding: 50px 0 50px 0;
    border-radius: 10px;
}
.values-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: auto; /* Height is set automatically depending on the content of the div container */
    margin: 20px 0 20px 0;
    padding: 0;
}

/* CSS properties when the values-row flexbox is set to reverse order */
.row-reverse {flex-direction: row-reverse;} /* do .values-row.row-reverse instead */
.heading-reverse {text-align: right !important;
/* !important is used to override the text-align CSS property of 'values-heading' class */}
.text-reverse {text-align: left !important;}

.values-heading {
    color: #ff1f1f;
    font-weight: 800;
    font-size: 2.2rem;
    width: 40%;
    text-align: left;
}
.values-text {
    font-weight: 400;
    font-size: 1.15rem;
    text-align: right;
    text-justify: inter-word;
    width: 40%;
}
.values-num {
    width: 80px;
    height: 80px;
}
@media (max-width: 768px) {
    .values-num {
        width: 50px;
        height: 50px;
    }
    .values-row {
        flex-direction: column;
    }
    /* Adjusts the size of the div containers containing the text since .values-row is set to flex-column */ 
    .values-heading, .values-text, .heading-reverse, .text-reverse {
        width: 90%;
        text-align: center !important; /* Overrides the original CSS property */
        margin: 20px 0 20px 0;
    }
}


/* -- LOCATIONS SECTION CSS STYLES -- */
.locations-container-about {
    width: 100%;
    height: 700px;
}
.location-desc-about {
    height: 80%;
    width: 90%;
}
.location-desc-box {
    position: absolute;
    top: 5%;
    left: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(255, 47, 47, 0.8);
    width: 40%;
    height: 90%;
    padding: 20px;
    border-radius: 10px 0 0 10px;
}
.desc-box-reverse {
    left: 0%;
    border-radius: 0 10px 10px 0;
}
.desc-text.desc-text-about {
    line-height: normal;
    font-size: clamp(0.85rem, 1.2vw, 1.2rem);
    font-weight: 500;
}
.img-about {
    opacity: 1 !important; /* Overrides opacity CSS of the element within .img-about */
}
@media (max-width: 768px) {
    /* Positions the desc box to the bottom of the container */
    .location-desc-box {
        top: 40%;
        left: 0;
        width: 100%;
        height: 60%;
    }
    .img-about {
        top: -100px;
    }
}

/* Media query to remove border-radius properties */
@media (max-width: 768px) {
    .values, .location-desc-box, .desc-box-reverse {
        border-radius: 0px;
    }
}